# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# R extenstions
*.Rhistory

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Package specific
.DS_Store
cache/*
data/*
*.pdf
*.tmp
*.svg
*.tar
*.tar.gz
*.zip
synthesis_cost.py
temp.py
abundance_tcount.R
coexpression.R
structural_distribution.R
